


<div class="container">
    <div id="appContainer">


        <nav class="navbar navbar-default">
            <div class="container-fluid">

            <div class="navbar-header">
                <h2>ServiceNow Info</h2>
            </div>


            </div>
        </nav>

        <div class="actionRow container-fluid">
            <span class="NavLeft">&nbsp;</span>
            <span class="NavRight">&nbsp;</span>
            <div class="col-md-12 col-sm-12 innerActionRow">
                 <ul class="">
                    <li class="actionRowMenuItem"> Search </li>
                    <li class="actionRowMenuItem"><a href="#"> Upcoming Change Requests </a></li>
                    <li class="actionRowMenuItem"><a href="#"> Upcoming Change Requests with Outages </a></li>
                </ul>
               

            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <ng-outlet></ng-outlet>
            </div>
        </div>

    </div>
</div>



